* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color:rgb(26, 11, 75);
    width: 100%;
    margin: 0;
    padding: 0;
}
.top-bar {
    background-color:#E6A8D7;
    width: 100%;
    color:rgb(14, 45, 109);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    font-size: 16px;
}
.top-bar a {
    color: #f9ff50;
    text-decoration: none;
    font-weight: bold;

}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    opacity: 1;
    
}
nav :hover{
    color: #00ffee;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;

    
}
nav ul li {
    display: inline;
}
nav ul li a {
    text-decoration: none;

    font-weight: bold;
    color: #E6A8D7;
}

.logo ,.search-bar{
    display: flex;
    flex-direction: row;

}
.logo img {
    max-width: 800px;
    height: auto;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 300px;
    font-size: 200px;
    color: #E6A8D7;
    padding-bottom: 40px;
    flex-shrink: 0;
}
.top-bar,.logo{
    padding-bottom: 0;
}
.top-bar p{
    color: rgb(26, 11, 75);;
}
header,.header{
    padding-bottom: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 120px;
    width: 100%;
    margin: 0 auto;

}

.logo {
    font-size: 2rem;
    font-weight: 700;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    flex-wrap: nowrap;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #E6A8D7;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    min-width: 2px;
}
nav a {
    color: #E6A8D7;
    text-decoration: none;
    font-size: 1.2rem;
}
header,.hero{
    padding-bottom: 0;
}
.hero {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    padding: 20px;
    text-align: center;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero-text {
    position: absolute;
    width: 90%;
    max-width: 1400px;
    text-align: center;
    font-size: 24px;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    padding: 15px;
    border-radius: 10px;
}
.hero img {
    width: 100%;
    height: 90%;
    display: block;
    

}

.hero {
    position: relative;
    display: flex ;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width:95%;
    text-align: center;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    margin: auto;
    margin-top: -10px;

}


.hero-text {
    padding: 20px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); 
    color: #E6A8D7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    text-align: center;
    font-size: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    
}
.hero-text p{
    font-size: 60px;
}

.hero:hover .hero-text {
    opacity: 1;
}

.hero-text:hover{
    opacity:1
 }
 
 .hero-text> * {
     transform: translateY(20px) ;
     transition: transform 0.25s;
 }
 .hero-text:hover > * {
     transform: translateY(0);
 }


 .container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 20px 0;
}
.categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    text-align: center;
    padding: 20px;
}

.category img {
    width: 70%;
    height: auto;
    border-radius: 12px;
    flex-wrap: wrap;
    display: block;
    object-fit: cover;
    margin: auto;
    box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.2);
    gap:5px;
}


.shop-categories {
    text-align: center;
    margin-bottom: 40px;
}

.shop-categories h2 {
    color: #E6A8D7;
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 70px;
    padding-top: 10px;

}


.categories {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: stretch; 
}

.category {
    text-align: center;
    transition: transform 0.2s ease-in-out;
    flex: 1;
    max-width: 1200px; 
    height: 700px; 
    border-radius: 15px;
    overflow: hidden;
    padding: 15px;
    margin: 0;
    
  
}

.category:hover {
    transform: scale(1.2);
}



.category a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    font-weight: bold;
    color:#E6A8D7;
    font-size: 1.1em;
}

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 20px;
}

.about-images img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}


.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;

    margin-top: -150px;
  
}

.about-content {
    display: flex;
    max-width: 1000px;
    gap: 90px;
    align-items: center;
    justify-content: space-between;
    padding: 60px 40px;
    border-radius: 10px;
    

}


.about-images {
    position: relative;
    height: auto;
    width: 60%;
    max-width: 50%; 
    
    margin-top: -180px;
    
}

.main-img {
    width: 100%;
    border-radius: 10px;
    height:auto;
    top:30px;
    transition: transform 0.3s ease-in-out;

}

.overlay-img {
    width: 30%; ;
    position: absolute;
    border-radius: 10px;
}

.face {
    width: 40%;
    bottom:10px;
    left:10px;
}

.cote {
    width: 30%px;
    top: 10px;
    right: 10px;
}
.cote:hover {
    transform: scale(1.2);
}
.face:hover {
    transform: scale(1.2);
}

.about-text {
    width: 50%;
    max-width: 50%;
    margin-bottom: 160px;
}

.about-text h2 {
    font-size: 32px;
    margin-bottom: 10px;
    color:#E6A8D7;
}

.about-text p {
    font-size: 16px;
    line-height: 1.6;
    color: #E6A8D7;
}




.contact-link {
    text-decoration: none;
    font-size: 1.2em;
    color: #00ffee;
    font-weight: bold;
    margin-top: 10px;
}

.contact-link:hover {
    text-decoration: underline;
}

footer {
    background-color:rgb(26, 11, 75);
    padding: 40px 20px;
    
}
.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    text-align: center;
    padding: 20px;
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    border-top: 1px solid #E6A8D7;
}

.footer-column {
    flex: 1;
    padding: 10px;
    min-width: 200px;
}

h4 {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #E6A8D7;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 8px;
}

ul li a, p a {
    text-decoration: none;
    color: #E6A8D7;
    font-weight: normal;
    
}

p {
    font-size: 14px;
    color: #E6A8D7;
}

.footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 30px auto 0;
    padding-top: 20px;
    border-top: 1px solid #E6A8D7;
    flex-wrap: wrap;
}

.footer-bottom .left, 
.footer-bottom .center, 
.footer-bottom .right {
    flex: 1;
    text-align: center;
    min-width: 200px;
}

.footer-bottom .left {
    text-align: left;
}

.footer-bottom .right {
    text-align: right;
}

.footer-bottom a {
    text-decoration: none;
    color:#E6A8D7;
    margin-right: 15px;
    font-size: 14px;
}

.footer-bottom a:hover {
    text-decoration: underline;
}
.footer-bottom .center{
    display: flex;
    flex-direction: row;

}

.email-signup a{
    color: rgb(108, 201, 230); 

}



@media screen and (max-width: 1024px) {
    .hero {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .hero-text {
        font-size: 24px;
    }

    .categories {
        flex-wrap: wrap;
        flex-direction: column ;
        justify-content: center;
        align-items: center;
    }

    .category {
        width: 45%;
        flex-wrap: wrap;
        grid-template-columns: 1fr;
        gap: 10px;
    }
    #accordion {
        display: none;
    }
    

    
}
@media screen and (max-width: 920px) {
    nav ul {
        display: flex;
        flex-direction: row;
    }

}

@media screen and (max-width: 768px) {
    nav ul {
        display: flex;
        gap: 10px;
        text-align: center;
        
    }

    .logo {
        padding-right: 0;
        font-size: 24px;
    }

    .hero {
        flex-direction: row;
        gap: 5px;
    }

    .categories {
        grid-template-columns: 1fr;
    }

    .category {
        width: 100%;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 5px;
    }

    .about-content {
        flex-direction: column;
        text-align: center;
    }

    .about-images {
        width: 80%;
    }

    .about-text {
        width: 100%;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .top-bar {
        font-size: 14px;
        width: 100%;
    }
    .hero {
        flex-direction: row;
        gap: 5px;
    }

    nav ul {
        display: none;
        flex-direction: column;
        text-align: center;
    }

    .hero-text p {
        font-size: 18px;
    }

    .category img {
        width: 100%;
        flex-wrap: wrap;
    }

    .footer-bottom {
        flex-direction: column;
    }
}
@media (min-width: 768px) {
    #accordion {
        display: none;
    }
}
@media (max-width: 767px) {
    #accordion {
        display: flex;
    }
    nav ul {
        display: none;
        
    }
}



.accordion-button {
    width: 100%;
    background-color: rgb(26, 11, 75);
    color: rgb(26, 11, 75);
    padding: 10px -5px;
    border: none;
    cursor: pointer;
    text-align:right;
    padding-right: -50px;
}


.accordion-content {
    display: none; 
    background-color:  rgb(26, 11, 75);
    padding: 10px;
    margin-top: 5px;
}
.accordion-content:hover{
    color: #E6A8D7;
}



.nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav ul {
    color: pink;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.accordion {
    display: none;
}

@media (max-width: 1000px) {
    .nav ul :nth-child(5) { display: none; }
}

@media (max-width: 900px) {
    .nav ul:nth-child(4) { display: none; }
}

@media (max-width: 800px) {
    .nav ul:nth-child(3) { display: none; }
}

@media (max-width: 700px) {
    .nav ul:nth-child(2) { display: none; }
}

@media (max-width: 400px) {
    .nav ul:nth-child(1) { display: none; }
    .accordion { display: block; }
}

.accordion-btn {
    background-color: pink;
    color: #12003d;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.accordion-content {
    display: none;
    flex-direction: column;
    background-color: pink;
    padding: 10px;
    position: absolute;
    right: 15px;
}

.accordion-content a {
    text-decoration: none;
    color: #12003d;
    padding: 5px 0;
    display: block;
}

   
